<form style="padding: 5%">
  <mat-grid-list cols="3" rowHeight="1.5:1" [gutterSize]="'10px'">
    <mat-grid-tile rowspan="2"
      ><div style="overflow: auto; width: 600px; height: 400px">
        <p>ROUND 1(EASY) :</p>
        <p><br /></p>
        <p>1. Given an array of integers, find the largest three integers.</p>
        <p>INPUT : [3,2,9,1,5,6,1]</p>
        <p>OUTPUT : 9, 6, 5.</p>
        <p><br /></p>
        <p>2. Given a string of characters, remmove repeating characters.</p>
        <p>INPUT : ababaacbbaddcc</p>
        <p>OUTPUT : abdc</p>
        <p><br /></p>
        <p>3. Given an array of integers, Find the number without a pair.</p>
        <p>INPUT : [9,2,6,4,9,6,2]</p>
        <p>OUTPUT : 4</p>
        <p><br /></p>
        <p>4. Print the following pattern.</p>
        <p>INPUT : &nbsp;5</p>
        <p>OUTPUT :</p>
        <p><br /></p>
        <p>* * * * *</p>
        <p>&nbsp;* * * *</p>
        <p>&nbsp; * * *</p>
        <p>&nbsp; &nbsp;* *</p>
        <p>&nbsp; &nbsp; *</p>
        <p>&nbsp; &nbsp;* *</p>
        <p>&nbsp; * * *</p>
        <p>&nbsp;* * * *</p>
        <p>* * * * *</p>
        <p><br /></p>
        <p>5. Given an integer, find whether it is a Palindromic Integer.</p>
        <p>INPUT : 673542</p>
        <p>OUTPUT : 245376</p>
      </div></mat-grid-tile
    >
    <mat-grid-tile rowspan="2">
      <div style="overflow: auto; width: 400px; height: 400px">
        <p>Question 1</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode1"
              name="mycode1"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked1()"
            />
          </mat-form-field>
        </p>
        <p>Question 2</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode2"
              name="mycode2"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked2()"
            />
          </mat-form-field>
        </p>
        <p>Question 3</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode3"
              name="mycode3"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked3()"
            />
          </mat-form-field>
        </p>
        <p>Question 4</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode4"
              name="mycode4"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked4()"
            />
          </mat-form-field>
        </p>
        <p>Question 5</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode5"
              name="mycode5"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked5()"
            />
          </mat-form-field>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>{{ counter.min }} : {{ counter.sec }}</h2>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="submitForm()">
        SUBMIT & END TEST
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
