<form style="padding: 5%">
  <mat-grid-list cols="3" rowHeight="1.5:1" [gutterSize]="'10px'">
    <mat-grid-tile rowspan="2"
      ><div style="overflow: auto; width: 600px; height: 400px">
        <p>ROUND 2: (MEDIUM)</p>
        <p><br /></p>
        <p>
          1. Given an integer array, find the maximum product from the array.
        </p>
        <p>INPUT : [1,2,-2,0,1,-3]</p>
        <p>OUTPUT : 12</p>
        <p><br /></p>
        <p>
          2. Given an integer array, find if there is a pair in an array whose
          sum is K.
        </p>
        <p>INPUT : [4,2,7,4,1,10], k = 9.</p>
        <p>OUTPUT : 2,7</p>
        <p><br /></p>
        <p>
          3. Given an integer array, find whether it can form a wave in a graph.
        </p>
        <p>INPUT : [1,4,3,5,2,3,6,2,4,2]</p>
        <p>OUTPUT : YES</p>
        <p><br /></p>
        <p>INPUT : [1,2,3,4,5]</p>
        <p>OUTPUT : NO</p>
        <p><br /></p>
        <p>4. Given an input string s, reverse the order of the words.</p>
        <p>INPUT : the sky is blue</p>
        <p>OUTPUT : blue is sky the</p>
        <p><br /></p>
        <p>5. Given a number, print its corresponding Roman Numeral.</p>
        <p>INPUT : 4</p>
        <p>OUTPUT : IV</p>
        <p><br /></p>
        <p>INPUT : 56</p>
        <p>OUTPUT : LVII</p>
        <p><br /></p>
        <p>INPUT : 1994</p>
        <p>OUTPUT : MCMXCIV</p>
      </div></mat-grid-tile
    >
    <mat-grid-tile rowspan="2">
      <div style="overflow: auto; width: 400px; height: 400px">
        <p>Question 1</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode1"
              name="mycode1"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked1()"
            />
          </mat-form-field>
        </p>
        <p>Question 2</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode2"
              name="mycode2"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked2()"
            />
          </mat-form-field>
        </p>
        <p>Question 3</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode3"
              name="mycode3"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked3()"
            />
          </mat-form-field>
        </p>
        <p>Question 4</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode4"
              name="mycode4"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked4()"
            />
          </mat-form-field>
        </p>
        <p>Question 5</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your code</mat-label>
            <input
              matInput
              [(ngModel)]="clientCode5"
              name="mycode5"
              [type]="hide ? 'password' : 'password'"
              onCopy="return false"
              onDrag="return false"
              onDrop="return false"
              onPaste="return false"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault(); enterClicked5()"
            />
          </mat-form-field>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>{{ counter.min }} : {{ counter.sec }}</h2>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="submitForm()">
        SUBMIT & END TEST
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
